html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {

text-decoration: none;
color: #fff;

}

body {
	overflow: hidden;
	font-family: "Kreon";
	font-weight: 300;
	color: #333;
}

#switcher {
	height: 50px;
	background: #1a1b1d url(bg.png) repeat-x;
	border-bottom: 10px solid #262626;
	border-bottom: 10px solid rgba(255,255,255,0.03);
	box-shadow: 0px 0px 5px #333;
	-moz-box-shadow: 0px 0px 5px #333;
	-webkit-box-shadow: 0px 0px 5px #333;
	z-index: 99999;
	position: fixed;
	width: 100%;
}

#theme_select {
	margin-top: 9px;
	margin-left: 72px;
	background: url(dropdown.png) no-repeat;
	width: 200px;
	display: block;
	padding: 9px 8px;
	color: #333;
	font-size: 14px;	
}

#theme_dropdown_list {

border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px;

}

.center {

margin: auto;
width: 960px;
padding-top: 2px;

}

.center ul li {

display: inline;
float: left;
position: relative;

}

.center ul li ul {

display: none;
margin-left: 72px;
position: absolute;
width: 210px;
box-shadow: 0px 0px 5px #444;
-moz-box-shadow: 0px 0px 5px #444;
-webkit-box-shadow: 0px 0px 5px #444;

}

.center ul li ul li {

background: #fff;

}

.center ul li ul li a {

display: block;
padding: 10px;
min-width: 189px;
font-size: 14px;
color: #333;
text-transform: uppercase;
font-weight: 700;

}

.center ul li ul li:first-child {

border-top-left-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
padding-top: 3px;

}

.center ul li ul li:last-child {

border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;

}

li.purchase {

margin-left: 50px;
text-transform: uppercase;
padding-top: 20px;

}

li.purchase a {

padding: 17px 10px 17px 40px;
background: url(trolley.png) no-repeat 0px 4px;

}

li.remove_frame {

margin-left: 20px;
text-transform: uppercase;
padding-top: 20px;

}

li.remove_frame a {

padding: 17px 10px 17px 40px;
background: url(cross.png) no-repeat 0px 5px;

}

#iframe {

margin-top: 60px;

}